body {
  background-color:rgba(245, 245, 245, 0.836);
}

/* img {
  width: 25%;
  height:auto;
} */

/* .boxforcolumns {
  width:90%;
 
} */


.aboutme {
  float:left;
  width:75%;
  
  /* text-align: center; */
}

.aboutme h2 {
  text-align:center;
  font-size:18px;
  font-weight:200;
}

.middle {
  boder:2px;
  margin-top:140px;
  
}

.aboutme p {
  /* width:80%; */
  /* font-style:no; */
  text-align:center;
  /* border:2px;
  margin-top:100px; */
}

.aboutme img {
  width:25%;
  height:auto;
  float:left;
  border:2px;
  margin:35px;  
  /* float:left; */
}

.funfacts {
  float:right;
  width:19%;
  border:2px solid rgb(13, 73, 13);
  padding:10px;
  margin:10px;

}

.funfacts ol {
}

.works {
  float:left;
  background-color: rgb(240, 230, 240);
  
}

.works p {

}

.shelter {
  width:20%;
  float:left;
  
}

.resort {
  width:20%;
  float:left;
}

.webpage {
  width:20%;
  float:left;
}

.zen {
  width:20%;
  float:left;
}

.recipe {
  width:20%;
  float:left;
}