body {
  background-color:whitesmoke;
}

/* img {
  width: 25%;
  height:auto;
} */

.aboutme {

}

.aboutme img {
  width:25%;
  height:auto;
}

.sidebar {

}

.works {

}

.works p {

}

.works li {

}