body {
  background-color:whitesmoke;
}

/* img {
  width: 25%;
  height:auto;
} */

/* .boxforcolumns {
  width:90%;
 
} */


.aboutme {
  float:left;
  width:75%;
  /* text-align: center; */
}

.aboutme h2 {
  text-align:center;
}



.aboutme p {
  /* width:80%; */
  /* font-style:no; */
  text-align:enter;
  border:2px solid black;
  padding:5px;
 
}

.aboutme img {
  width:25%;
  height:auto;
  float:left;
  border:2px solid black;  
  /* float:left; */
}

.funfacts {
  border:2px solid rgb(13, 73, 13);
  float:right;
  width:19%;

}

.funfacts ol {
}

.works {
  float:left;
  
}

.works p {

}

.shelter {
  width:20%;
  float:left;
  
}

.resort {
  width:20%;
  float:left;
}

.webpage {
  width:20%;
  float:left;
}

.zen {
  width:20%;
  float:left;
}

.recipe {
  width:20%;
  float:left;
}